.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 3.6rem;
  justify-items: center;
  /* border: 1px solid green; */
}

.subheading {
  grid-column: 1 / -1;
  /* text-transform: uppercase; */
  align-self: end;

  font-size: 1.6rem;
  font-weight: 400;
}

/* Logos */

.logo-box {
  /* display: grid; */
  align-items: center;
  width: 18rem;
  height: 18rem;

  /* border: 1px solid white; */
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  transition: all 0.2s;
  /* border: 1px solid blue; */
}

.logo-box:hover .logo {
  transform: scale(1.1);
}

/* HTML5 & CSS3 Logo Overlap */

.dual-logo {
  position: relative;
}

.html,
.css {
  width: 100%;
  height: 100%;
}

.html {
  position: absolute;
  z-index: 1;
  padding: 0 4rem 4rem 0;
}

.css {
  position: absolute;
  padding: 4rem 0 0 4rem;
}

/* Disabled (In Progress) */

.mysql-box {
  position: relative;
}

.mysql {
  filter: saturate(0);
}

.in-progress {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  height: 2.5rem;
  line-height: 2.5rem;

  text-transform: uppercase;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;

  /* background-color: #ffd43b; */
  background-color: var(--highlight-color);
  transform: translate(0, -50%) rotate(35deg);

  z-index: 1;
}

/* Media queries */

@media (max-width: 56em) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5rem;
  }
}
