.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  gap: 2.8rem;
  justify-items: center;
  /* border: 1px solid green; */
}

.subheading {
  grid-column: 1 / -1;
  text-transform: uppercase;
  align-self: end;

  font-size: 1.6rem;
  font-weight: 700;
}

/* Logos */

.logo-box {
  /* display: grid; */
  align-items: center;
  width: 18rem;
  height: 18rem;

  /* border: 1px solid white; */
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  transition: all 0.2s;
  /* border: 1px solid blue; */
}

.logo-box:hover .logo {
  transform: scale(1.1);
}

/* HTML5 & CSS3 Logo Overlap */

.dual-logo {
  position: relative;
}

.html,
.css {
  width: 100%;
  height: 100%;
}

.html {
  position: absolute;
  z-index: 1;
  padding: 0 4rem 4rem 0;
}

.css {
  position: absolute;
  padding: 4rem 0 0 4rem;
}

/* Media queries */

@media (max-width: 56em) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5rem;
  }
}
