:root {
  --logo-size: 23rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr var(--logo-size) var(--logo-size) var(--logo-size) 1fr; /* 3 logo columns in the middle, 1 empty on each side */
  grid-template-rows: auto var(--logo-size) var(--logo-size) auto; /* Three rows */
  align-items: center;
  justify-content: center;
  gap: 4rem;
  overflow: visible;
}

.subheading {
  display: block;
  grid-column: 1 / -1; /* Span across all columns */
  align-self: flex-end;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Center and set dimensions for SVGs and IMGs */
.container svg,
.container img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensure the SVG doesn't exceed its container's width */
  height: calc(var(--logo-size) * 0.95);
  width: calc(var(--logo-size) * 0.95);
}

/* Give white border to IMGs */
.container img {
  border: white 2px solid;
  border-radius: 5px;
  background-color: white;
}

/* Align JavaScript logo (top row, right) */
.container > :nth-child(2) {
  grid-column: 2 / 3; /* First logo in the second column */
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 0;
}

/* Align HTML & CSS logos (top row, center) */
.container > :nth-child(3) {
  grid-column: 3 / 4; /* Second logo in the third column */
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 0;
}

/* Align React logo (top row, left) */
.container > :nth-child(4) {
  grid-column: 4 / 5; /* Third logo in the fourth column */
  justify-self: flex-start;
  align-self: flex-end;
  margin-bottom: 0;
}

/* Align MySQL logo (middle row, right) */
.container > :nth-child(5) {
  grid-column: 2 / 3; /* First logo in the second row */
  justify-self: flex-end;
  align-self: flex-start;
  margin-top: 0;
}

/* Align second React logo (middle row, center) */
.container > :nth-child(6) {
  grid-column: 3 / 4; /* Second logo in the second row */
  justify-self: center;
  align-self: flex-start;
  margin-top: 0;
}

/* Align Fiori logo (middle row, left) */
.container > :nth-child(7) {
  grid-column: 4 / 5; /* Third logo in the second row */
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 0;
}

/* Align SAP Backend ABAP Cloud (bottom row, first logo, center) */
.container > :nth-child(8) {
  grid-column: 2 / 4; /* Span from column 2 to 4 */
  justify-self: center;
  align-self: center;
  margin-top: 0;
}

/* Align Node logo (bottom row, second logo, center) */
.container > :nth-child(9) {
  grid-column: 3 / 5; /* Place it in column 4 */
  justify-self: center;
  align-self: center;
  margin-top: 0;
}

/* To prevent overlap with other elements */
.container > :nth-child(n + 8) {
  grid-row: 4; /* Ensure logos in last row are on row 3 */
}

/* Scale animation */
.anim {
  transition: all 0.2s;
}

.anim:hover {
  transform: scale(1.1);
}

.anchor {
  position: relative;
}

/* Dual logo */
.logoContainer {
  position: relative;
  height: calc(var(--logo-size) * 0.95);
  width: calc(var(--logo-size) * 0.95);
}

.logoContainer > a > svg {
  position: absolute;
  top: 0;
  left: 0;
}

.logoContainer > a > :nth-child(1) {
  z-index: 1;
  padding: 0 5rem 5rem 0;
}

.logoContainer > a > :nth-child(2) {
  padding: 5rem 0 0 5rem;
}

/* Starred course */
.star svg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  max-width: 100%;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--highlight-color);
  z-index: 2;
}

/* Progress text */
.progressText {
  --progress: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(-35deg);
  z-index: 2;

  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #333;
  border: 1px solid #1e1e1e;
  background: linear-gradient(
    to right,
    var(--highlight-color) var(--progress),
    #f6f1e0 var(--progress)
  );
}

.paused {
  filter: saturate(0);
}

/* MEDIA QUERIES */

@media (max-width: 56rem) {
  .subheading {
    grid-column: auto;
    padding-top: 3rem;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  /* Smaller JS logo */
  .container > :nth-child(2) > a > svg {
    height: calc(var(--logo-size) * 0.9);
    width: calc(var(--logo-size) * 0.9);
  }

  /* Center all logos */
  .container > :nth-child(n) {
    justify-self: center;
    align-self: center;
    grid-column: auto; /* Allow default column placement */
    grid-row: auto; /* Reset row placement */
    margin: 0;
  }
}
