.site-logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: 1px;
}

.site-logo img {
  width: 36px;
  margin-right: 10px;
  filter: invert(95%);
}

.brand {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}
