.navbar {
  box-sizing: border-box;

  padding: 2.4rem 3.6rem 2.4rem 3.6rem;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.navbar .site-logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.navbar .site-logo img {
  margin-right: 10px;
  filter: invert(95%);
  width: 36px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 20px;
}

.navbar .brand {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
}

.nav-logos {
  display: flex;
}

.nav-logo {
  width: 32px;
}
