/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap'); */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./fonts/Inter-V.ttf) format("truetype");
}

/* variables */
:root {
  --bg-color: #292c34;
  --text-color: #f2f2f2;
  --primary-color: #339af0; /* Blue 5 */
  --highlight-color: #fcc419; /* Yellow 5 */
}

/* Credits to: https://stackoverflow.com/questions/826782#4407335 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
